In [9]:
import sqlite3 
with sqlite3.connect("lesson.db") as conn: 
     cursor = conn.cursor()

In [10]:
cursor.execute("CREATE TABLE IF NOT EXISTS user (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")

In [11]:
cursor.execute("INSERT INTO user VALUES ('bob@example.com2', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)") 
cursor.execute("INSERT INTO user VALUES ('tom@web.com2', 'Tom', 'Fake', '456 Fantasy lane, Fantasu City', 39)")

In [12]:
conn.commit()